<%= form_for(@apostum) do |f| %>
  <% if @apostum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@apostum.errors.count, "error") %> prohibited this apostum from being saved:</h2>

      <ul>
      <% @apostum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :idSala %><br>
    <%= f.number_field :idSala %>
  </div>
  <div class="field">
    <%= f.label :idUser %><br>
    <%= f.number_field :idUser %>
  </div>
  <div class="field">
    <%= f.label :palpite %><br>
    <%= f.text_field :palpite %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
