<p id="notice"><%= notice %></p>

<p>
  <strong>Idsala:</strong>
  <%= @apostum.idSala %>
</p>

<p>
  <strong>Iduser:</strong>
  <%= @apostum.idUser %>
</p>

<p>
  <strong>Palpite:</strong>
  <%= @apostum.palpite %>
</p>

<%= link_to 'Edit', edit_apostum_path(@apostum) %> |
<%= link_to 'Back', aposta_path %>
