<p id="notice"><%= notice %></p>

<p>
  <strong>T.integer:</strong>
  <%= @apostum.t.integer %>
</p>

<p>
  <strong>Idsala:</strong>
  <%= @apostum.idSala %>
</p>

<p>
  <strong>T.integer:</strong>
  <%= @apostum.t.integer %>
</p>

<p>
  <strong>T.string:</strong>
  <%= @apostum.t.string %>
</p>

<%= link_to 'Edit', edit_apostum_path(@apostum) %> |
<%= link_to 'Back', aposta_path %>
