<%= render "layouts/header" %>
<div class="col-lg-12"><h2 style="text-align:center">Bem Vindo a Sala: <%= @bet.name %> </h2>
    <div class="panel panel-default" style="float:left;width:45%;overflow:hidden; ">
        <div class="panel-heading"><h2 class="panel-title">Guesses</h2></div>
        <div class="panel-body" >
          <table class="table table-hover">
              <thead>
                <tr>
                  <th>Usuario_id</th>
                  <th>Won?</th>
                  <th>Guess</th>
               
                  <th>Create_at</th>
                  <th colspan="2"></th>
                </tr>
              </thead>
              
            </table>
        </div>
    </div>
    <div class="panel  panel-primary" style="margin-left:10%;float:left;width:45%;overflow:hidden; ">
        <div class="panel-heading"style="background-color: baby blue;"><h2 class="panel-title">Participantes</h2></div>
        <div class="panel-body" >
          <p> Olá, você é o usuário numero <%= session[:user_id] %>.</p>
        </div>
    </div>
  
</div>

<br /><br />
    
<button type="button" class="btn btn-default" style= "margin-top:20px;margin-left: 10px;">
   <%= link_to "Apostar", controller: 'guesses', action: 'new' %>
</button> 
<button type="button" class="btn btn-default" style= "margin-top:20px;margin-left: 10px;">
   <%= link_to "Convidar", controller: 'invites', action: 'new' %>
</button> 
<%= render "layouts/footer" %>