<p id="notice"><%= notice %></p>
<div class="bloco-home">
   <div class="bloco-home" id="banner-bloco-home">
    <div class="bloco-home" id="cor-preto-bloco-home">
     <div class="bloco-home" id="gradient-white">
     
      <div class="card-bloco-home-center">
       <div id="conteudo-banner-bloco-home">
        <p id="titulo-banner-bloco-home">Cadastre-se</p>
        <br>
         <div class= "caixa-banner-bloco-home">
           
           <%= form_for @usuario, url: {controller: "usuarios", action: "cadastro_create"} do |f| %>
                    <% if @usuario.errors.any? %>
                      <div id="error_explanation">
                        <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>
                  
                        <ul>
                        <% @usuario.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                        <% end %>
                        </ul>
                      </div>
                    <% end %>
                    
                   <br>
                    <div class="field">
                    <label class="control-label-cadastro col-sm-2" for="Nome">Nome:  </label>
                      <%= f.text_field :name , :class=>"col-sm-8"%>
                    </div>
                    
                   <br>
                    <div class="field">
                    <label class="control-label-cadastro col-sm-2" for="E-mail">Email:  </label>
                      <%= f.text_field :email , :class=>"col-sm-8"%>
                    </div>
                    <br>
                    
                    <div class="field">
                      <label class="control-label-cadastro col-sm-2" for="senha">Senha:  </label>
               <%= f.password_field :access_token,  :class=>"col-sm-8"%>
                    </div>
                    <br>
                    <br>
                    <div class="actions">
                        <%= f.submit "Cadastrar", :class=>"btn-cadastro", :id=>"button_cad" %>
                    </div>
                    
                  <% end %>
      
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>