<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @usuario.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @usuario.email %>
</p>

<p>
  <strong>Access token:</strong>
  <%= @usuario.access_token %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @usuario.uid %>
</p>

<p>
  <strong>Photo url:</strong>
  <%= @usuario.photo_url %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @usuario.provider %>
</p>

<p>
  <strong>Status:</strong>
  <%= @usuario.status %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @usuario.reason %>
</p>

<p>
  <strong>User type:</strong>
  <%= @usuario.user_type %>
</p>

<p>
  <strong>Data ingresso:</strong>
  <%= @usuario.data_ingresso %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
